<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
 <style>
 body{
   height:100vh;
   background-size:cover;
   background-image: url('{% static '/img/.jpeg' %}') ;
}
.menudropdown1{
   width:100%;
   height:100px;
   margin:0px auto;
}
.menudropdown1 ul{
   padding:0px;
}
.menudropdown1 ul li{
   float:left;
   background-color:#3147FF;
   color:white;
   width:250px;
   height:50px;
   line-height:50px;
   font-size:25px;
   text-align:center;
   list-style:none;
   opacity:0.8;
}
.menudropdown1 ul li ul{
   display:none;
}
.menudropdown1 ul li:hover > ul{
   display:block;
}
.menudropdown1 ul li:hover{
   background-color:#32CD32;
   opacity:0.7;
}
.menudropdown1 ul li ul li{
   position:relative;
}
.menudropdown1 ul li ul li ul{
   position:absolute;
   left:200px;
}
 </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><!-- icons link -->
    <link rel="stylesheet" href="{% static '/css/style.css '%}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css '%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"><!-- css link -->
    <meta charset="UTF-8">
    <title>Dashboard</title>

</head>
<body>
<!-- navbar-->
<!--nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'logout_backend' %}">Sign out</a>
    </li>
  </ul>
</nav-->

<div class="menudropdown1" style="">
    <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="/ ">Home</a>
          <ul>
            <li><i class="fa fa-database" aria-hidden="true"></i>Our Devices
            <ul>
                <li><i class="fa fa-laptop" aria-hidden="true"></i><a href="/display_laptop">Laptops</a></li>
                <li><i class="fa fa-desktop" aria-hidden="true"></i><a href="/display_desktop">Desktops</a></li>
            </ul>
            </li>
              <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">About Us</a></li>

          </ul>
        </li>

        <li><i class="fa fa-line-chart" aria-hidden="true"></i><a href="/principal_chart">Charts</a>
          <ul>

              <li><i class="fa fa-bar-chart" aria-hidden="true"></i><a href="#">Bar-Charts</a>
              <ul>
                <li>V.1</li>
                <li>V.2</li>
              </ul>


            </li>
              <li><i class="fa fa-line-chart" aria-hidden="true"></i><a>Line-Chart</a></li>
            <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="#">Pie-Chart</a></li>
            <li><i class="fa fa-area-chart" aria-hidden="true"></i><a href="#">Area-Chart</a></li>
            <li>pune</li>
          </ul>
        </li>
        <li><i class= "fa fa-line-chart" aria-hidden="true"></i><a href="">Analytics</a>
             <ul>
                <li><i class="fa fa-laptop" aria-hidden="true"></i><a href="">Laptop</a></li>
                 <li><i class="fa fa-desktop" aria-hidden="true"></i><a href="/flexmonster" >Desktop</a>
                    </ul>

        </li>


        <li><i class="fa fa-cogs" aria-hidden="true"></i><a href="#">Cogs</a>
            <ul>

                <li><i class="fa fa-code" aria-hidden="true"></i>APIs
                    <ul>
                        <li><a href="userjson/">Users CRUD</a></li>
                        <li><a href="laptopjson/">Laptop CRUD</a></li>
                        <li><a href="desktopjson/">Desktop CRUD</a></li>
                    </ul>

                </li>
                <li><i class="fa fa-user-circle-o" aria-hidden="true"></i><a href="/admin">Admin</a></li>
                <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="{%url 'logout_backend'%}">Sign-out</a></li>
            </ul>

        </li>
    </ul>

</div>

  <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">

                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->

<div class="container">
    {% block body %}


    {% endblock %}
</div>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color:#3376B5;color:white">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h1 style="color:green" class="text-uppercase font-weight-bold"><i class="fa fa-building-o" aria-hidden="true"></i>FIS</h1>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color:green">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 style="color:dark" class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 style="color:dark" class="text-uppercase font-weight-bold"><i class="fa fa-link" aria-hidden="true"></i>Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="register">Sign up</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 style="color:dark" class="text-uppercase font-weight-bold"><i class="fa fa-address-book-o" aria-hidden="true"></i>Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color:green">
          <i class="fa fa-map-marker" aria-hidden="true"></i>  Ghazella,Ariana,-----</p>
        <p style="color:green">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>  fis@fisglobal.com</p>
        <p style="color:green">
          <i class="fa fa-volume-control-phone" aria-hidden="true"></i>+ 216 --- --- ---</p>
        <p style="color:green">
          <i class="fa fa-volume-control-phone" aria-hidden="true"></i>+ 216 --- --- ---</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> <p style="color:white" >MDBootstrap.com</p></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>