<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<ul>
    <li><a>Home</a></li>
    <li><a>About</a></li>
    <ul>
        <li><a>Our Team</a></li>
        <li><a>Camp Sites</a></li>
        <li><a>Mission &amp; Vision</a></li>
        <li><a>Ressource</a></li>
    </ul>
    </li>
    <li><a>Things to do</a></li>
    <ul>
        <li><a>Activities</a></li>
        <li><a>Parks</a></li>
        <li><a>Shops</a></li>
        <li><a>Events</a></li>
    </ul>
    </li>
    <li><a>Contact</a>
        <ul>
            <li><a>Map</a></li>
            <li><a>Direction</a></li>
        </ul>

    </li>
    <li><a>News</a></li>



</ul>


</body>
</html>